name = "examgen-worker"
main = "src/index.ts"
compatibility_date = "2024-01-01"
compatibility_flags = ["nodejs_compat"]



[build]
command = "npm install && npm run build"
cwd = "./"

[[kv_namespaces]]
binding = "STATS_KV"
id = "4117b03e415c40a4a75445d71dd2e229"
